<div id="<%= dom_id post %>" class="post">
  <p>
    <strong>Title:</strong>
    <span class="title"><%= post.title %></span>
  </p>

  <p>
    <strong>Content:</strong>
    <span class="content"><%= post.content %></span>
  </p>

  <p>
    <strong>Visibility:</strong>
    <span><%= post.visibility %></span>
  </p>

</div>
